<!DOCTYPE html>
<html>
	<head>
		<style type="text/css">
			html,body {
   				width:100%;
    			height:100%;
    			min-width:1280px;
    			//background-color: #FF851B;

			}

			.fix-to-top-nav {
			    position: fixed;
			    top: 0px;
			    height: 50px;
			    z-index: 998;
			    width: 100%;
			    background-color: #000;//#484A4A;
			}

			.btn-warning {
				background-color: #FF851B ;
			}

			/*.fix-to-top {
			    position: fixed;
			    top: 50px;
			    z-index: 999;
			    width: 100%;
			}*/

			.pad-below-navig {
				padding-top: 100px;
			}

			.cent-div { 
				width: 90%; 
				/*overflow: hidden;*/ 
				text-align: left; 
				margin-left: auto;
    			margin-right:auto;
			}

			.vertical-align {
    			display: flex;
    			align-items: center;
			}

			.back {
				//background-image: url('../img/paper.jpg') !important;
				background-color: #e6e6e6;
				background-repeat: no-repeat;
    			background-attachment: fixed;
    			background-size:cover;
    			-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
			
				width:100% !important; 
				padding-top: 20px;
				padding-bottom: 20px;
				color:#fff
			}

			.white-font {
				color:white;
				font-weight: bold;
			}

			.b-or-font-imp {
				color: #FF851B !important;
				font-weight: bold;
			}

			.w-textlet {
				font-weight: bold;
				//color:#000;
				color:#FF851B;
				margin-left: 10px;
				margin-right:10px;
			}

			.p0 {
			    
			    white-space: nowrap !important;
			}

			.c0 {
			    display:inline-block !important;
			}

			.btn-default {
				color:#FF851B;
			}

			.info-bit {
				margin-top: 10px; 
				margin-bottom: 10px; 
				//padding-top:30px;
				width:100%;
			}

			.btn-off {
				pointer-events: none;
			}

			.inline-input {
				margin-left:5px; 
				margin-right:5px;
				display: inline-block
			}

			.narrower-table-important {
				min-width: 900px !important;
			}

    	</style>
	</head>
	<body>
	
	<div ng-controller='LinesController'>

		<div class="navigation-bar fix-to-top-nav"> 
			<div class='cent-div'>
				<ul class="nav navbar-nav p0">
				    <li class='active c0'><a href="" ng-click="linesData.gotoAnchor('anchor-elements')" class='b-or-font-imp'>Elements</a></li>
				    <li class='c0'> <a href="" ng-click="linesData.gotoAnchor('anchor-spectra')" class='b-or-font-imp'>Spectra</a></li>	
				    <li class='c0'><a href="" ng-click="linesData.gotoAnchor('anchor-lines')" class='b-or-font-imp'>Lines</a></li>
					<li class='c0'><a href="" ng-click="linesData.gotoAnchor('anchor-about')" class='b-or-font-imp'>About</a></li>
					<!--li class='c0'><a href="" ng-click="linesData.gotoAnchor('anchor-references')" class='b-or-font-imp'>References</a></li-->
				  </ul>
			</div>
		</div>		

		<div class='cent-div'>
			<div id='anchor-elements' class='anchor'></div>
			<div id = 'periodic-table' class='center-block pad-below-navig cent-div narrower-table-important'>

				
				<table class='table table-condensed table-responsive'> 
					<tr>
						<td>
							<!--button type="button" class="btn btn-block" ng-class="{true: 'btn-info', false: 'btn-default'}[linesData.isH]" ng-click='linesData.selectH()'>H</button-->
							<button type="button" class="btn btn-block" ng-class="{true: 'btn-warning', false: 'btn-default'}[linesData.isH]" ng-click='linesData.isH = !linesData.isH'>H</button>
						</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>
							<button type="button" class="btn btn-block" ng-class="{true: 'btn-warning', false: 'btn-default'}[linesData.isHe]" ng-click='linesData.isHe = !linesData.isHe'>He</button>
						</td>
					</tr>
					<tr>
						<td>
							<button type="button" class="btn btn-block" ng-class="{true: 'btn-warning', false: 'btn-default'}[linesData.isLi]" ng-click='linesData.isLi = !linesData.isLi'>Li</button>
						</td>
						<td>
							<button type="button" class="btn btn-block" ng-class="{true: 'btn-warning', false: 'btn-default'}[linesData.isBe]" ng-click='linesData.isBe = !linesData.isBe'>Be</button>
						</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>
							<button type="button" class="btn btn-block" ng-class="{true: 'btn-warning', false: 'btn-default'}[linesData.isB]" ng-click='linesData.isB = !linesData.isB'>B</button>
						</td>
						<td>
							<button type="button" class="btn btn-block" ng-class="{true: 'btn-warning', false: 'btn-default'}[linesData.isC]" ng-click='linesData.isC = !linesData.isC'>C</button>
						</td>
						<td>
							<button type="button" class="btn btn-block" ng-class="{true: 'btn-warning', false: 'btn-default'}[linesData.isN]" ng-click='linesData.isN = !linesData.isN'>N</button>
						</td>
						<td>
							<button type="button" class="btn btn-block" ng-class="{true: 'btn-warning', false: 'btn-default'}[linesData.isO]" ng-click='linesData.isO = !linesData.isO'>O</button>
						</td>
						<td>
							<button type="button" class="btn btn-block" ng-class="{true: 'btn-warning', false: 'btn-default'}[linesData.isF]" ng-click='linesData.isF = !linesData.isF'>F</button>
						</td>
						<td>
							<button type="button" class="btn btn-block" ng-class="{true: 'btn-warning', false: 'btn-default'}[linesData.isNe]" ng-click='linesData.isNe = !linesData.isNe'>Ne</button>
						</td>
					</tr>
					<tr>
						<td>
							<button type="button" class="btn btn-block" ng-class="{true: 'btn-warning', false: 'btn-default'}[linesData.isNa]" ng-click='linesData.isNa = !linesData.isNa'>Na</button>
						</td>
						<td>
							<button type="button" class="btn btn-block" ng-class="{true: 'btn-warning', false: 'btn-default'}[linesData.isMg]" ng-click='linesData.isMg = !linesData.isMg'>Mg</button>
						</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>
							<button type="button" class="btn btn-block" ng-class="{true: 'btn-warning', false: 'btn-default'}[linesData.isAl]" ng-click='linesData.isAl = !linesData.isAl'>Al</button>
						</td>
						<td>
							<button type="button" class="btn btn-block" ng-class="{true: 'btn-warning', false: 'btn-default'}[linesData.isSi]" ng-click='linesData.isSi = !linesData.isSi'>Si</button>
						</td>
						<td>
							<button type="button" class="btn btn-block" ng-class="{true: 'btn-warning', false: 'btn-default'}[linesData.isP]" ng-click='linesData.isP = !linesData.isP'>P</button>
						</td>
						<td>
							<button type="button" class="btn btn-block" ng-class="{true: 'btn-warning', false: 'btn-default'}[linesData.isS]" ng-click='linesData.isS = !linesData.isS'>S</button></td>
						<td>
							<button type="button" class="btn btn-block" ng-class="{true: 'btn-warning', false: 'btn-default'}[linesData.isCl]" ng-click='linesData.isCl = !linesData.isCl'>Cl</button>
						</td>
						<td>
							<button type="button" class="btn btn-block" ng-class="{true: 'btn-warning', false: 'btn-default'}[linesData.isAr]" ng-click='linesData.isAr = !linesData.isAr'>Ar</button>
						</td>
					</tr>
					<tr>
						<td>
							<button type="button" class="btn btn-block" ng-class="{true: 'btn-warning', false: 'btn-default'}[linesData.isK]" ng-click='linesData.isK = !linesData.isK'>K</button>
						</td>
						<td>
							<button type="button" class="btn btn-block" ng-class="{true: 'btn-warning', false: 'btn-default'}[linesData.isCa]" ng-click='linesData.isCa = !linesData.isCa'>Ca</button>
						</td>
						<td>
							<button type="button" class="btn btn-block" ng-class="{true: 'btn-warning', false: 'btn-default'}[linesData.isSc]" ng-click='linesData.isSc = !linesData.isSc'>Sc</button></td>
						<td>
							<button type="button" class="btn btn-block" ng-class="{true: 'btn-warning', false: 'btn-default'}[linesData.isTi]" ng-click='linesData.isTi = !linesData.isTi'>Ti</button></td>
						<td>
							<button type="button" class="btn btn-block" ng-class="{true: 'btn-warning', false: 'btn-default'}[linesData.isV]" ng-click='linesData.isV = !linesData.isV'>V</button></td>
						<td>
							<button type="button" class="btn btn-block" ng-class="{true: 'btn-warning', false: 'btn-default'}[linesData.isCr]" ng-click='linesData.isCr = !linesData.isCr'>Cr</button></td>
						<td>
							<button type="button" class="btn btn-block" ng-class="{true: 'btn-warning', false: 'btn-default'}[linesData.isMn]" ng-click='linesData.isMn = !linesData.isMn'>Mn</button></td>
						<td>
							<button type="button" class="btn btn-block" ng-class="{true: 'btn-warning', false: 'btn-default'}[linesData.isFe]" ng-click='linesData.isFe = !linesData.isFe'>Fe</button></td>
						<!--td><button type="button" class="btn btn-block">Fe</button></td-->
						<td>
							<button type="button" class="btn btn-block" ng-class="{true: 'btn-warning', false: 'btn-default'}[linesData.isCo]" ng-click='linesData.isCo = !linesData.isCo'>Co</button></td>
						<td>
							<button type="button" class="btn btn-block" ng-class="{true: 'btn-warning', false: 'btn-default'}[linesData.isNi]" ng-click='linesData.isNi = !linesData.isNi'>Ni</button></td>
						<td>
							<button type="button" class="btn btn-block" ng-class="{true: 'btn-warning', false: 'btn-default'}[linesData.isCu]" ng-click='linesData.isCu = !linesData.isCu'>Cu</button></td>
						<td><button type="button" class="btn btn-block">Zn</button></td>
						<td>
							<button type="button" class="btn btn-block" ng-class="{true: 'btn-warning', false: 'btn-default'}[linesData.isGa]" ng-click='linesData.isGa = !linesData.isGa'>Ga</button></td>
						<td>
							<button type="button" class="btn btn-block" ng-class="{true: 'btn-warning', false: 'btn-default'}[linesData.isGe]" ng-click='linesData.isGe = !linesData.isGe'>Ge</button></td>
						<td><button type="button" class="btn btn-block">As</button></td>
						<td><button type="button" class="btn btn-block">Se</button></td>
						<td><button type="button" class="btn btn-block">Br</button></td>
						<td><button type="button" class="btn btn-block" ng-class="{true: 'btn-warning', false: 'btn-default'}[linesData.isKr]" ng-click='linesData.isKr = !linesData.isKr'>Kr</button></td>
					</tr>
					<tr>
						<td><button type="button" class="btn btn-block">Rb</button></td>
						<td><button type="button" class="btn btn-block">Sr</button></td>
						<td><button type="button" class="btn btn-block">Y</button></td>
						<td><button type="button" class="btn btn-block">Zr</button></td>
						<td><button type="button" class="btn btn-block">Nb</button></td>
						<td><button type="button" class="btn btn-block">Mo</button></td>
						<td><button type="button" class="btn btn-block">Tc</button></td>
						<td><button type="button" class="btn btn-block">Ru</button></td>
						<td><button type="button" class="btn btn-block">Rh</button></td>
						<td><button type="button" class="btn btn-block">Pd</button></td>
						<td><button type="button" class="btn btn-block">Ag</button></td>
						<td><button type="button" class="btn btn-block">Cd</button></td>
						<td><button type="button" class="btn btn-block">In</button></td>
						<td><button type="button" class="btn btn-block">Sn</button></td>
						<td><button type="button" class="btn btn-block">Sb</button></td>
						<td><button type="button" class="btn btn-block">Te</button></td>
						<td><button type="button" class="btn btn-block">I</button></td>
						<td><button type="button" class="btn btn-block">Xe</button></td>
					</tr>
					<tr>
						<td><button type="button" class="btn btn-block">Cs</button></td>
						<td><button type="button" class="btn btn-block">Ba</button></td>
						<td><button type="button" class="btn btn-block">La</button></td>
						<td><button type="button" class="btn btn-block">Hf</button></td>
						<td><button type="button" class="btn btn-block">Ta</button></td>
						<td><button type="button" class="btn btn-block">W</button></td>
						<td><button type="button" class="btn btn-block">Re</button></td>
						<td><button type="button" class="btn btn-block">Os</button></td>
						<td><button type="button" class="btn btn-block">Ir</button></td>
						<td><button type="button" class="btn btn-block">Pt</button></td>
						<td><button type="button" class="btn btn-block">Au</button></td>
						<td><button type="button" class="btn btn-block">Hg</button></td>
						<td><button type="button" class="btn btn-block">Ti</button></td>
						<td><button type="button" class="btn btn-block">Pb</button></td>
						<td><button type="button" class="btn btn-block">Bi</button></td>
						<td><button type="button" class="btn btn-block">Po</button></td>
						<td><button type="button" class="btn btn-block">At</button></td>
						<td><button type="button" class="btn btn-block">Rn</button></td>
					</tr>
					<tr>
						<td><button type="button" class="btn btn-block">Fr</button></td>
						<td><button type="button" class="btn btn-block">Ra</button></td>
						<td><button type="button" class="btn btn-block">Ac</button></td>
						<td><button type="button" class="btn btn-block">Rf</button></td>
						<td><button type="button" class="btn btn-block">Db</button></td>
						<td><button type="button" class="btn btn-block">Sg</button></td>
						<td><button type="button" class="btn btn-block">Bh</button></td>
						<td><button type="button" class="btn btn-block">Hs</button></td>
						<td><button type="button" class="btn btn-block">Mt</button></td>
						<td><button type="button" class="btn btn-block">Ds</button></td>
						<td><button type="button" class="btn btn-block">Rg</button></td>
						<td><button type="button" class="btn btn-block">Cn</button></td>
						<td><button type="button" class="btn btn-block">Uut</button></td>
						<td><button type="button" class="btn btn-block">Fl</button></td>
						<td><button type="button" class="btn btn-block">Uup</button></td>
						<td><button type="button" class="btn btn-block">Lv</button></td>
						<td><button type="button" class="btn btn-block">Uus</button></td>
						<td><button type="button" class="btn btn-block">Uuo</button></td>
					</tr>
				</table>
			</div>
		</div>

		<!-- #2aabd2 #e0e0e0-->

		<div class='back'>
			<div class='cent-div'>


				<!--div class='info-bit' style='white-space: nowrap:!important'-->
				<div class='info-bit'>
					
					<form class="form-inline text-center">
					
						<label class="checkbox-inline w-textlet"><input type="checkbox" disabled='disabled' checked='checked' value="">I & II Ionisation Levels</label>
						<label class="checkbox-inline w-textlet"><input type="checkbox" disabled='disabled' checked='checked' value="">With Transition Probabilities Only</label>
						<label class="checkbox-inline w-textlet"><input type="checkbox" disabled='disabled' checked='checked' value="">Observed WL</label>
						<label class="checkbox-inline w-textlet"><input type="checkbox" disabled='disabled' checked='checked' value="">WL In Air</label>

						<div style='margin-top:25px;'></div>

						<div class="form-group b-or-font-imp inline-input" >
								<label for="ewl">FWHM/nm:&nbsp;</label>
								<input type="text" id='ewl'ng-model="linesData.fwhm" class="form-control small-text-box" style='width: 60px; font-weight:normal;'>
						</div>
													
						<div class="form-group b-or-font-imp inline-input">
								<label for="swl">Start WL:&nbsp;</label>
								<input type="text" id='swl'ng-model="linesData.startWl" class="form-control" style='width: 60px; font-weight:normal;'>
						</div>
					
						<div class="form-group b-or-font-imp inline-input" >
								<label for="ewl">End WL:&nbsp;</label>
								<input type="text" id='ewl'ng-model="linesData.endWl" class="form-control small-text-box" style='width: 60px; font-weight:normal;'>
						</div>
					
						<button class="btn" ng-class="{true: 'btn-warning', false: 'btn-default btn-off disabled'}[linesData.isH || linesData.isHe || linesData.isLi || linesData.isBe || linesData.isB || linesData.isC || linesData.isN || linesData.isO || linesData.isF || linesData.isNe || linesData.isNa || linesData.isMg || linesData.isAl || linesData.isSi || linesData.isP || linesData.isS || linesData.isCl || linesData.isAr || linesData.isK || linesData.isCa || linesData.isSc || linesData.isTi || linesData.isV || linesData.isCr || linesData.isMn || linesData.isMn || linesData.isFe || linesData.isCo || linesData.isNi || linesData.isCu || linesData.isGa || linesData.isGe || linesData.isKr]" ng-click='linesData.fetchLines(item, $event)' style="margin-left: 20px; margin-right:20px;width:100px;display:inline-block;">Go!</button>
					</form>	
				</div>
			</div>
		</div>

		<div ng-show = 'linesData.info.flag == true'>
			<div class="alert alert-info" style='text-align: center;'>
				Please wait... <strong> {{linesData.info.text}}</strong>
  			</div>
		</div>	
		
		<div ng-show = 'linesData.error.flag == true'>
			<div class="alert alert-danger" style='text-align: center;'>
				Oops! Something is not right... <strong> Error: Status: {{linesData.error.status}} Description: {{linesData.error.statusText}}</strong>
  			</div>
		</div>	

		<div ng-show = 'linesData.warning.flag == true'>
			<div class="alert alert-warning" style='text-align: center;'>
				Please check your input: <strong> {{linesData.warning.info}}</strong>
  			</div>
		</div>	
		
		<div ng-show = 'linesData.result != null && linesData.error.flag != true && linesData.result.size != 0 && linesData.warning.flag != true'>
			
			<div class='cent-div'>
				<div id='anchor-spectra' class='anchor'></div>
				<div google-chart chart="linesData.linesChart" style={{linesData.linesChart.cssStyle}} id='lines-chart'></div>
			</div>

			<div class='back'>
				<div class='cent-div'>
					<div class='info-bit w-textlet'>
						Spectral lines are drawn using Gaussian profiles with pixel size set to 0.1 nm where each line is calculated over 100 pixels.<br>
						Hover over spectrum to see the legend as well as inensity values at any pixel. 
						Click and hold left mouse button to select a rectangle to zoom in. Right mouse button click to zoom out.  
					</div>
				</div>
			</div>

			<div class='cent-div'>
				<div id='anchor-lines' class='anchor'></div>
				<table id='lines-table' class='table table-striped table-responsive'>
				<thead>
					<tr>
						<td>Element</td>
						<td>Ionisation</td>
						<td>Wavelength/nm</td>
						<td>Relative Intensity</td>
						<td>Aki/s^-1</td>
						<td>Ei/cm^-1</td>
						<td>Ek/cm^-1</td>
						<td>gi</td>
						<td>gk</td>
					</tr>
				</thead>
				<tbody>
  					<tr ng-repeat="line in linesData.result | orderBy: 'wl'">
  						<td>{{line.elName}}</td>
  						<td>{{line.ion}}</td>
    					<td>{{line.wl}}</td>
	    				<td>{{line.relInt}}</td>
	    				<td>{{line.aki}}</td>
	    				<td>{{line.ei}}</td>
	    				<td>{{line.ek}}</td>
	    				<td>{{line.gi}}</td>
	    				<td>{{line.gk}}</td>
	  				</tr>
	  			</tbody>
				</table>
			</div>


			<div id="anchor-about" class="anchor"></div>
			<div class='back'>
				<div class='cent-div'>
					<div class='info-bit w-textlet'>
						This is a beta version of Atomic Spectra.  This project is a work in progress, so keep coming back to find more features implemented. Willing to contribure? Have suggestions? Want to report errors? We are on <a href='https://github.com/PavelYaroshchyk/atomicspectra' target='_blank'>GitHub</a>. 
						<br>
						<br>
						References:<br>
						1. Kramida, A., Ralchenko, Yu., Reader, J., and NIST ASD Team (2015). NIST Atomic Spectra Database (ver. 5.3), [Online]. Available: http://physics.nist.gov/asd [2016, April 1-14]. National Institute of Standards and Technology, Gaithersburg, MD. 
					</div>
				</div>
			</div>

			<!--div id="anchor-references" class="anchor"></div>
			<div class='back'>
				<div class='cent-div'>
					<div class='info-bit w-textlet'>
						1. Kramida, A., Ralchenko, Yu., Reader, J., and NIST ASD Team (2015). NIST Atomic Spectra Database (ver. 5.3), [Online]. Available: http://physics.nist.gov/asd [2016, April 1]. National Institute of Standards and Technology, Gaithersburg, MD. 
					</div>
				</div>
			</div-->
		</div>	
	</div>
	
	</body>
</html>