<!DOCTYPE html>
<html>
	<head>
		<style type="text/css">
			html,body {
   				width:100%;
    			height:100%;
			}

			.fix-to-top-nav {
			    position: fixed;
			    top: 0px;
			    height: 50px;
			    z-index: 998;
			    width: 100%;
			    background-color: #e0e0e0;
			}

			/*.fix-to-top {
			    position: fixed;
			    top: 50px;
			    z-index: 999;
			    width: 100%;
			}*/

			.pad-below-navig {
				padding-top: 100px;
			}

			.cent-div { 
				width: 90%; 
				/*overflow: hidden;*/ 
				text-align: left; 
				margin-left: auto;
    			margin-right:auto;
			}

			.vertical-align {
    			display: flex;
    			align-items: center;
			}

			.back {
				background-image: url('../img/paper.png') !important;
				background-repeat: no-repeat;
    			background-attachment: fixed;
    			background-size:cover;
    			-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;

				width:100%; 
				height:100px; 
				color:#265a88;'
			}


    	</style>
	</head>
	<body>
	
	<div ng-controller='LinesController'>

		<div class="navigation-bar fix-to-top-nav"> 
			<div class='cent-div'>
				<ul class="nav navbar-nav">
				    <li class='active'><a href="" ng-click="linesData.gotoAnchor('anchor-elements')">Elements</a></li>
				    <li><a href="" ng-click="linesData.gotoAnchor('anchor-spectra')">Spectra</a></li>	
				    <li><a href="" ng-click="linesData.gotoAnchor('anchor-lines')">Lines</a></li>
					<li><a href="" ng-click="linesData.gotoAnchor('anchor-about')">About</a></li>
					<li><a href="" ng-click="linesData.gotoAnchor('anchor-references')">References</a></li>
				  </ul>
			</div>
		</div>		

		<div class='cent-div'>
			<div id='anchor-elements' class='anchor'></div>
			<div id = 'periodic-table' class='center-block pad-below-navig' class='cent-div'>

				
				<table class='table table-condensed table-responsive'> 
					<tr>
						<td>
							<!--button type="button" class="btn btn-block" ng-class="{true: 'btn-info', false: 'btn-default'}[linesData.isH]" ng-click='linesData.selectH()'>H</button-->
							<button type="button" class="btn btn-block" ng-class="{true: 'btn-info', false: 'btn-default'}[linesData.isH]" ng-click='linesData.isH = !linesData.isH'>H</button>
						</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><button type="button" class="btn btn-block">He</button></td>
					</tr>
					<tr>
						<td><button type="button" class="btn btn-block">Li</button></td>
						<td><button type="button" class="btn btn-block">Be</button></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><button type="button" class="btn btn-block">B</button></td>
						<td><button type="button" class="btn btn-block">C</button></td>
						<td><button type="button" class="btn btn-block">N</button></td>
						<td><button type="button" class="btn btn-block">O</button></td>
						<td><button type="button" class="btn btn-block">F</button></td>
						<td><button type="button" class="btn btn-block">Ne</button></td>
					</tr>
					<tr>
						<td><button type="button" class="btn btn-block">Na</button></td>
						<td><button type="button" class="btn btn-block">Mg</button></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>
							<button type="button" class="btn btn-block" ng-class="{true: 'btn-info', false: 'btn-default'}[linesData.isAl]" ng-click='linesData.isAl = !linesData.isAl'>Al</button>
						</td>
						<td><button type="button" class="btn btn-block">Si</button></td>
						<td><button type="button" class="btn btn-block">P</button></td>
						<td><button type="button" class="btn btn-block">S</button></td>
						<td><button type="button" class="btn btn-block">Cl</button></td>
						<td><button type="button" class="btn btn-block">Ar</button></td>
					</tr>
					<tr>
						<td><button type="button" class="btn btn-block">K</button></td>
						<td>
							<!--button type="button" class="btn btn-block" ng-class="{true: 'btn-info', false: 'btn-default'}[linesData.isCa]" ng-click='linesData.selectCa()'>Ca</button-->
							<button type="button" class="btn btn-block" ng-class="{true: 'btn-info', false: 'btn-default'}[linesData.isCa]" ng-click='linesData.isCa = !linesData.isCa'>Ca</button>
						</td>
						<td><button type="button" class="btn btn-block">Sc</button></td>
						<td><button type="button" class="btn btn-block">Ti</button></td>
						<td><button type="button" class="btn btn-block">V</button></td>
						<td><button type="button" class="btn btn-block">Cr</button></td>
						<td><button type="button" class="btn btn-block">Mn</button></td>
						<td><button type="button" class="btn btn-block">Fe</button></td>
						<td><button type="button" class="btn btn-block">Co</button></td>
						<td><button type="button" class="btn btn-block">Ni</button></td>
						<td><button type="button" class="btn btn-block">Cu</button></td>
						<td><button type="button" class="btn btn-block">Zn</button></td>
						<td><button type="button" class="btn btn-block">Ga</button></td>
						<td><button type="button" class="btn btn-block">Ge</button></td>
						<td><button type="button" class="btn btn-block">As</button></td>
						<td><button type="button" class="btn btn-block">Se</button></td>
						<td><button type="button" class="btn btn-block">Br</button></td>
						<td><button type="button" class="btn btn-block">Kr</button></td>
					</tr>
					<tr>
						<td><button type="button" class="btn btn-block">Rb</button></td>
						<td><button type="button" class="btn btn-block">Sr</button></td>
						<td><button type="button" class="btn btn-block">Y</button></td>
						<td><button type="button" class="btn btn-block">Zr</button></td>
						<td><button type="button" class="btn btn-block">Nb</button></td>
						<td><button type="button" class="btn btn-block">Mo</button></td>
						<td><button type="button" class="btn btn-block">Tc</button></td>
						<td><button type="button" class="btn btn-block">Ru</button></td>
						<td><button type="button" class="btn btn-block">Rh</button></td>
						<td><button type="button" class="btn btn-block">Pd</button></td>
						<td><button type="button" class="btn btn-block">Ag</button></td>
						<td><button type="button" class="btn btn-block">Cd</button></td>
						<td><button type="button" class="btn btn-block">In</button></td>
						<td><button type="button" class="btn btn-block">Sn</button></td>
						<td><button type="button" class="btn btn-block">Sb</button></td>
						<td><button type="button" class="btn btn-block">Te</button></td>
						<td><button type="button" class="btn btn-block">I</button></td>
						<td><button type="button" class="btn btn-block">Xe</button></td>
					</tr>
					<tr>
						<td><button type="button" class="btn btn-block">Cs</button></td>
						<td><button type="button" class="btn btn-block">Ba</button></td>
						<td><button type="button" class="btn btn-block">La</button></td>
						<td><button type="button" class="btn btn-block">Hf</button></td>
						<td><button type="button" class="btn btn-block">Ta</button></td>
						<td><button type="button" class="btn btn-block">W</button></td>
						<td><button type="button" class="btn btn-block">Re</button></td>
						<td><button type="button" class="btn btn-block">Os</button></td>
						<td><button type="button" class="btn btn-block">Ir</button></td>
						<td><button type="button" class="btn btn-block">Pt</button></td>
						<td><button type="button" class="btn btn-block">Au</button></td>
						<td><button type="button" class="btn btn-block">Hg</button></td>
						<td><button type="button" class="btn btn-block">Ti</button></td>
						<td><button type="button" class="btn btn-block">Pb</button></td>
						<td><button type="button" class="btn btn-block">Bi</button></td>
						<td><button type="button" class="btn btn-block">Po</button></td>
						<td><button type="button" class="btn btn-block">At</button></td>
						<td><button type="button" class="btn btn-block">Rn</button></td>
					</tr>
					<tr>
						<td><button type="button" class="btn btn-block">Fr</button></td>
						<td><button type="button" class="btn btn-block">Ra</button></td>
						<td><button type="button" class="btn btn-block">Ac</button></td>
						<td><button type="button" class="btn btn-block">Rf</button></td>
						<td><button type="button" class="btn btn-block">Db</button></td>
						<td><button type="button" class="btn btn-block">Sg</button></td>
						<td><button type="button" class="btn btn-block">Bh</button></td>
						<td><button type="button" class="btn btn-block">Hs</button></td>
						<td><button type="button" class="btn btn-block">Mt</button></td>
						<td><button type="button" class="btn btn-block">Ds</button></td>
						<td><button type="button" class="btn btn-block">Rg</button></td>
						<td><button type="button" class="btn btn-block">Cn</button></td>
						<td><button type="button" class="btn btn-block">Uut</button></td>
						<td><button type="button" class="btn btn-block">Fl</button></td>
						<td><button type="button" class="btn btn-block">Uup</button></td>
						<td><button type="button" class="btn btn-block">Lv</button></td>
						<td><button type="button" class="btn btn-block">Uus</button></td>
						<td><button type="button" class="btn btn-block">Uuo</button></td>
					</tr>
				</table>
			</div>
		</div>

		<!-- #2aabd2 #e0e0e0-->

		<div class='back'>
			<div class='cent-div text-center'>
				<div style='margin-top: 50px; margin-bottom: 50px; padding-top:30px;'>
					<form class="form-inline">
					
						<div class="form-group ">
								<label for="swl">Start WL:</label>
								<input type="text" id='swl'ng-model="linesData.startWl" class="form-control" style='width: 60px;'>
						</div>
					
						<div class="form-group">
								<label for="ewl">End WL:</label>
								<input type="text" id='ewl'ng-model="linesData.endWl" class="form-control small-text-box" style='width: 60px;'>
						</div>
					
						<button class="btn" ng-class="{true: 'btn-primary', false: 'btn-default disabled'}[linesData.isAl || linesData.isCa || linesData.isH]" ng-click='linesData.fetchLines(item, $event)'>Go!</button>
					</form>	
				</div>
			</div>
		</div>
			
		
		<div ng-show = 'linesData.result != null'>
			
			<div class='cent-div'>
				<div id='anchor-spectra' class='anchor'></div>
				<div google-chart chart="linesData.linesChart" style={{linesData.linesChart.cssStyle}} id='lines-chart'></div>
			</div>

			<div class='back'>
			</div>

			<div class='cent-div'>
				<div id='anchor-lines' class='anchor'></div>
				<table id='lines-table' class='table table-striped table-responsive'>
				<thead>
					<tr>
						<td>Element</td>
						<td>Ionisation</td>
						<td>Wavelength/nm</td>
						<td>Relative Intensity</td>
						<td>Aki</td>
						<td>Ei</td>
						<td>Ek</td>
						<td>gi</td>
						<td>gk</td>
					</tr>
				</thead>
				<tbody>
  					<tr ng-repeat="line in linesData.result">
  						<td>{{line.elName}}</td>
  						<td>{{line.ion}}</td>
    					<td>{{line.wl}}</td>
	    				<td>{{line.relInt}}</td>
	    				<td>{{line.aki}}</td>
	    				<td>{{line.ei}}</td>
	    				<td>{{line.ek}}</td>
	    				<td>{{line.gi}}</td>
	    				<td>{{line.gk}}</td>
	  				</tr>
	  			</tbody>
				</table>
			</div>


			<div id="anchor-about" class="anchor">
					about section is here blah blah
			</div>

			<div id="anchor-references" class="anchor">
					references section is here link to NIST
			</div>

		</div>	
	</div>
	
	</body>
</html>